﻿@{
    ViewBag.Title = "Search Page";
}

<div class="row">
    <!-- Search Form -->
    @Html.Partial("_SearchForm", new Deepend.DeependAncestry.Web.Models.SearchFormModel())
</div>

<div class="row" id="search-results">
    <!-- Results Table -->

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSearch").click(function (evt) {
                evt.preventDefault();
                $("#btnSearch").html("Searching...");

                $("#search-results").html('');

                var form = $('#SearchForm');
                if (form.valid()) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetSearchResults", "Home")",
                        data: form.serialize() + "&pageNumber=0",
                        success: function (response) {
                            $("#search-results").html(response);

                            $("#btnSearch").html("Search");

                            $(".changepage").click(function (evt) {
                                evt.preventDefault();
                                var pageNumber = $(this).data("pagenumber");

                                movePage(pageNumber);
                            });

                        },
                        error: function (errorData) {

                        }
                    });
                }
            });

        })

        function movePage(pageNumber) {
            var overlay = $('<div id="overlay"> Loading Page...  </div>');
            overlay.appendTo($("#search-results"))


            var form = $('#SearchForm');
            if (form.valid()) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSearchResults", "Home")",
                    data: form.serialize() + "&pageNumber=" + pageNumber,
                    success: function (response) {
                        $("#search-results").html(response);

                        $("#btnSearch").html("Search");

                        $(".changepage").click(function (evt) {
                            evt.preventDefault();
                            var pageNumber = $(this).data("pagenumber");
                            movePage(pageNumber);
                        });

                    },
                    error: function (errorData) {
                    }
                });
            }
        }



    </script>
}