﻿
@{
    ViewBag.Title = "Advanced Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Search Form -->
    @Html.Partial("_AdvancedSearchForm", new Deepend.DeependAncestry.Web.Models.SearchFormModel())
</div>

<div class="row" id="search-results">
    <!-- Results Table -->

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $("#btnSearch").click(function (evt) {
            evt.preventDefault();
            $("#btnSearch").html("Searching...");
            $("#btnSearch").attr('disabled', 'disabled');
           // $("#name").attr('disabled', 'disabled');

            $("#search-results").html('');

            var form = $('#SearchForm');
            if (form.valid()) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetSearchResults", "Advanced")",
                    data: form.serialize(),
                    success: function (response) {
                        $("#search-results").html(response);
                        $("#btnSearch").html("Search");
                        $("#btnSearch").removeAttr("disabled");
                       // $("#name").removeAttr("disabled");
                    },
                    error: function (errorData) {
                        $("#btnSearch").removeAttr("disabled");
                      //  $("#name").removeAttr("disabled");
                    }
                });
            }
        });

    </script>
}
