﻿@model Deepend.DeependAncestry.Data.Models.AncestryDataPagingModel

<h3>Results:</h3>
<table class="table table-bordered table-hover" id="ResultsTable">
    <thead>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
            <td>BIRTHPLACE</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.name
                </td>
                <td>
                    @item.gender
                </td>
                <td>
                    @item.place_name
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.NumberOfPages > 0)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.CurrentPageNumber > 0)
            {
                <li>
                    <a href="javascript:;" class="changepage" aria-label="First" data-pagenumber="0">
                        <span aria-hidden="true">&laquo; First</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="changepage" aria-label="Previous" data-pagenumber="@(Model.CurrentPageNumber - 1)">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            }
            <!-- This is simplified due to time constraints -->
            <li class="active"><a href="javascript:;">Page: @(Model.CurrentPageNumber + 1) of @Model.NumberOfPages</a></li>

            @if (Model.CurrentPageNumber < (Model.NumberOfPages - 1))
            {
                <li>
                    <a href="javascript:;" class="changepage" aria-label="Next" data-pagenumber="@(Model.CurrentPageNumber + 1)">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:;" class="changepage" aria-label="Last" data-pagenumber="@(Model.NumberOfPages - 1)">
                        <span aria-hidden="true">Last &raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
}