﻿@model Deepend.DeependAncestry.Web.Models.SearchFormModel

<form name="SearchForm" id="SearchForm" class="form-inline">
    <div class="col-md-7">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.name, new { placeholder = "Name", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <div class="col-md-12">
            <label>Gender: </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.M) Male
            </label>
            <label class="checkbox-inline">
                @Html.CheckBoxFor(model => model.F) Female
            </label>

        </div>
    </div>
    <div class="col-md-5 text-center">
        <button id="btnSearch" type="submit" class="btn btn-primary" style="width: 100%;">Search</button>
        @Html.ActionLink("Advanced Search", "Index", "Advanced", null, new { @class = "advanced-search" })
    </div>

</form>